.portfolioWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.portfolioHead {
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid gray;
}

.portfolioHead h6 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.portfolioHead p {
    font-size: 0.8rem;
}

.portfolioBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 0px;
}

/* ////////////////////////////////////-_-///////////////// */

.projectWarp {
    max-width: 566px;
    min-width: 440px;
    flex: 1 0;
    box-sizing: border-box;
    margin: 0.5vw;
    padding: 0.5vw;
    background: rgba(0, 0, 0, 0.021);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


    aspect-ratio: 16/9;
}

.projectHead {
    width: 60%;
    /* 수정 */
    padding: 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(184, 184, 184);
}

.projectHead h6 {
    font-size: 0.9rem;
}

.projectBody {
    width: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projectSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projectSection h6 {
    font-size: 0.8rem;
    padding: 2.5px 0px;
}

.projectSection p {
    padding: 1.5px 0px;
    font-size: 0.7rem;
}

.projectSection p span {
    font-size: 0.7rem;
    padding: 0px 5px 0px 0px;
}

.projectfooter {
    width: 100%;
    padding: 2px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.projectfooter button {
    margin: 5px 5px 0px 0px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: rgba(108, 129, 250, 0.322)
}