.ProjectpageWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 620px;
}

.projectpageHead {
    width: 100%;
    padding: 20px 0px 10px;
    border-bottom: 1px solid gray;
}

.projectpageHead h6 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.projectpageHead h6 button {
    float: right;
    padding: 3px 8px;
    font-size: 0.8rem;
    cursor: pointer;
}

.projectpageHead p {
    font-size: 0.8rem;
}

.proJectpageHeadButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.proJectpageHeadButton>button {
    padding: 10px;
    font-size: 0.8rem;
    margin-top: 10px;
    border: none;
    background: rgba(102, 51, 153, 0.144);
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

.projectpageBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0px;
}

/* ////////////////////////////////////////// */

.projectpagePartWarp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.projectpagePartHead {
    padding: 5px 20px 5px 0px;
    border-bottom: 1px solid rgb(184, 184, 184);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectpagePartHead h6 {
    font-size: 1rem;
    margin-right: 5px;
}


.projectpagePartHead .dot {
    width: 7px;
    height: 7px;
    margin: 0px 5px;
    position: relative;
}

.projectpagePartHead .dot::after {
    text-wrap: nowrap;
    padding: 3px 5px;
    color: white;
    display: none;
    font-size: 0.7rem;
    position: absolute;
    top: -20px;
    left: -20px;
}

.projectpagePartHead .dot:hover::after {
    display: block;
}

.projectpagePartHead .red-dot {
    background: red;
}

.projectpagePartHead .blue-dot {
    background: blue;
}

.projectpagePartHead .green-dot {
    background: green;
}

.projectpagePartHead .red-dot::after {
    content: "기능 구현 방법";
    background: rgba(255, 0, 0, 0.300);
}

.projectpagePartHead .blue-dot::after {
    content: "의도한 기능";
    background: rgba(0, 0, 255, 0.300);
}

.projectpagePartHead .green-dot::after {
    content: "고려사항";
    background: rgba(0, 128, 0, 0.300);
}

.projectpagePartBody {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.projectpagePartOption {
    width: 100%;
    display: flex;
    justify-content: row;
    margin-top: 2px;
    padding: 4px 0px;
}

.projectpagePartOption div {
    padding: 5px 12px;
    margin: 0px 5px 0px 0px;
    border-radius: 10px;
    background: rgb(165, 165, 165);
    user-select: none;
    cursor: pointer;
}

.projectpagePartOption .option {
    background: rgb(217, 112, 221);
}

.projectpagePartOption p {
    font-size: 0.8rem;
    color: white
}

.projectpagePartSection {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.projectpagePartSection h6 {
    font-size: 0.9rem;
    font-weight: normal;
    margin-bottom: 5px;
}

.projectpagePartSection p {
    font-size: 0.8rem;
    padding: 2px 0px;
}

.projectpagePartSection span {
    font-size: inherit;
}

.projectpagePartSection iframe {
    max-width: 650px;
    max-height: 455px;
    width: 100%;
    aspect-ratio: 1/0.7;
}

.ProjectpageYoutube {
    margin-top: 10px;
    margin-bottom: 15px;
}